h1{
    color: rgb(20, 125, 200);
    
}
body {
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgb(100, 159, 201), rgb(246, 141, 246));
    height: 100vh;
    margin: 0;
    display: flex; /* זה ימרכז את הכל לאמצע המסך */
    align-items: center; 
    justify-content: center;
    font-family: sans-serif; /* פונט נעים יותר */
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px; /* הגבלת רוחב כדי שלא יהיה רחב מדי */
}

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 15px;

  margin-top: 10%;
  padding: 40px;
  background-color: rgba(249, 191, 255, 0.1);
}
label {
  display: flex;
  margin-bottom: 6px;
}

input {

border: 2px solid black;
  margin-bottom: 15%;
  width: 100%; /* האינפוט יתפוס את כל רוחב הטופס */
  padding: 5px;
}
.btns {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  margin-top: 20px;
}

button {
  padding: 10px;
    border-radius: 25px;      
    background-color: rgb(20, 125, 200); 
    border: none;
  width: 200px;             

}
a {
  text-decoration: none;
  color: white;
font-size: 1rem;

}

.formdDiv{
    display: flex;
    flex-direction: column; /* אחד מתחת לשני */
    align-items: center;    /* ממרכז את הלייבל והאינפוט לאמצע */
    width: 50%;

}

/* פנייה ישירה דרך ה-Class שנתנו */
.my-submit-btn {
    background-color: rgb(100, 159, 201); 
    color: white;             
    border: none;             
    padding: 12px 24px;       
    width: auto;              
    margin-bottom: 20px;      
    cursor: pointer;          
    font-size: 1rem;
    border-radius: 25px;      
    transition: 0.3s;         
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

/* אפקט ה-Hover דרך ה-Class */
.my-submit-btn:hover{
    background-color: rgb(70, 130, 180); 
    transform: scale(1.05);   
}
button:hover{
      background-color: rgb(12, 70, 117); 
    transform: scale(1.05);   
}