/* ===== Base ===== */

body {
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(rgb(100, 159, 201), rgb(246, 141, 246));
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

h1 {
  color: rgb(20, 125, 200);
}

/* ===== Layout ===== */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 10%;
  padding: 40px;
  background-color: rgba(249, 191, 255, 0.1);
}

/* ===== Form Elements ===== */

.formdDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 15px;
}

.form_text_label {
  display: flex;
  margin-bottom: 6px;
}

label {
  text-align: center;
  display: block;
  width: 100%;
}

input {
  border: 2px solid black;
  margin-bottom: 15%;
  width: 100%;
  padding: 5px;
}

/* ===== Gender ===== */

.gender-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  width: 100%;
  margin-top: 5px;
}

.gender-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* ===== Buttons ===== */

.btns {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px;
  border-radius: 25px;
  background-color: rgb(20, 125, 200);
  border: none;
}

button:hover {
  background-color: rgb(12, 70, 117);
  transform: scale(1.05);
}

.my-submit-btn {
  background-color: rgb(100, 159, 201);
  color: white;
  border: none;
  padding: 12px 24px;
  width: auto;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 25px;
  transition: 0.3s;
}

.my-submit-btn:hover {
  background-color: rgb(70, 130, 180);
  transform: scale(1.05);
}

/* ===== Links ===== */

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.spinner {
  display: none;  
  height: 20px;
  width: 300px;
  background-color: #eee; 
  border-radius: 20px;
  border: 5px solid rgb(12, 70, 117);
  overflow: hidden;
}
.filler{
    height:100%;
    width: 0;
    background-color: rgb(100, 159, 201);
    animation: loadingBar 2s linear infinite
}
@keyframes loadingBar {
    0% {
        width: 0%;
    }
    50% {
        background-color: rgb(100, 159, 201);
    }
    100% {
        width: 100%;
        background-color: rgb(12, 70, 117); /* הופך לכהה יותר בסיום המילוי */
    }
}

#sbtBtn:active+.spinner{
    display: block;
}

