.indexList{
    display: flex;
    max-width: 30%;
    justify-content: space-between;
    background-color: rgba(155, 181, 243, 0.4);
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background: linear-gradient(rgb(100, 159, 201), rgb(246, 141, 246));
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-attachment: fixed; 
}
h1{
        font-family: sans-serif; 

}
a{
    text-decoration: none;
    font-family: sans-serif; 
    font-size: 20px;
    color: white;
}
#date {
  color: #eaeaea;
  font-size: 14px;
  position: absolute;
  left: 2%;
}

.content {
  display: flex;
  flex-direction: row;

  color: #2e3440;
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px auto;
  width: 95%;
}
.java_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  width: 90%;
  padding: 2%;
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
}

.java_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
}
.right_add,
.left_add {
  margin-top: 15px;
  position: absolute;
  border: solid 2px black;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 12%;
  padding: 1%;
  border-radius: 15px;
}
.add_img {
  height: 50px;
  width: 50px;
}

.left_add{
top: 20%;
left: 5%;
}
.right_add{
top: 20%;
right: 5%;
}
button {
  padding: 10px;
    border-radius: 25px;      
    background-color: rgb(20, 125, 200); 
    border: none;             
        cursor: pointer;   
            transition: 0.3s;         
       


}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
}
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.contact-input {
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    border: 1px solid black;
    font-family: sans-serif;
}
.contact-textarea {
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    height: 100px;
    border: 1px solid black;
    font-family: sans-serif;

}
p{
        font-family: sans-serif; 

}
.my-submit-btn:hover{
    background-color: rgb(70, 130, 180); 
    transform: scale(1.05);   
}
button:hover{
      background-color: rgb(12, 70, 117); 
    transform: scale(1.05);   
}
li:hover{
          background-color: rgb(12, 70, 117); 
          width: fit-content;
}
h3,li,h1,a{
    font-family: sans-serif;
}
